{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            <h5>Create New Product</h5>
        </div>
    </div>
    <div class="row justify-content-center">

        <form method="POST" class='col-6'>
            {{ form.hidden_tag() }}

            {{ form.id(class='form-control', placeholder='id') }}
            {{ form.title(class='form-control', placeholder='title') }}
            {{ form.price(class='form-control', placeholder='price') }}
            {{ form.description(class='form-control', placeholder='Description') }}
            {{ form.category(class='form-control', placeholder='category') }}
            {{ form.img_url(class='form-control', placeholder='img_url') }}
            {{ form.submit(class='btn btn-primary', placeholder='Create Product!') }}
        </form>
        
    </div>

    {% endblock %}